@charset "utf-8";
/* Print CSS */

body, header, section, footer {
	margin: auto;
	background-color: white;
	background-image: none;
	height: auto;
}

body, h1, h2, h3, p{
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	color: black;
}
nav, img {
	display: none;
}